body {
    background-color: lightblue;
}

h1 {
    opacity: 0.8;
    color: red;
    text-align: left;
    border: 2px solid Tomato;
    background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}

h2 {
    background-image: url("background.jpeg");
    text-align: left;
    border: 2px solid Tomato;
    opacity: 0.8;
    color: white;
}

h3{
    border-style: groove;
    border-width: 10px 5px; /* 10px top and bottom, 5px on the sides */
    border-right-style: solid;
    border-radius: 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 8px;
    font-family: verdana;
    font-size: 20px;
}

div {
    width: 300px;
    margin: auto;
    border: 1px solid red;
}

ul {
    background: #3399ff;
    padding: 20px;

}

